<div class="flex justify-center mt-4">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" (click)="returnHome()">
    Return Home
  </button>
</div>

<div class="flex flex-col items-center justify-center mt-4">
  <h1 class="text-3xl font-bold mb-6">Game Board</h1>
  <p class="text-lg text-gray-700 mb-4">This is where the game board will be displayed.</p>
</div>

<div class="card-grid">
<!--  @for (card of gameService.hand; track card.id) {-->
<!--    <card-->
<!--      [card]="card"-->
<!--      [selected]="card.selected || false"/>-->
<!--&lt;!&ndash;      (click)="selectCard(card)"&ndash;&gt;-->
<!--  } @empty {-->
    <p class="text lg">Heb geen cards meer</p>
<!--  }-->
</div>
