<!-- Header component -->
<header class="flex flex-col">
  <div class="flex itenms-center space-x-4 justify-between">
  <h1 class="text-xl font-bold">De Set Game</h1>
  </div>
  <nav class="w-full md:w-auto">
    <div class="flex justify-center space-x-4 text-lg">
      <button (click)="routeTo('/home')" class="nav-btn">Home</button>
      <button (click)="routeTo('/game-board')" class="nav-btn">New Game</button>
      <button (click)="logout()" class="nav-btn">Logout</button>
    </div>
  </nav>

</header>
